body {
	display: none;
	overflow-x: hidden;
	background-color: #000000;
}

img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

/* START OF NAV BAR */

div#containnav {
  height: auto;
  width: 60px;
  margin: 10px;
  padding: 10px;
}

div#navbutton {
  height: 50px;
  width: 50px;
}

div#button1 {
  opacity: 0;
  transition: opacity .5s; 
  height: 50px;
  width: 50px;
}

div#button1.fade {
  opacity: 1;
}

div#button2 {
  opacity: 0;
  transition: opacity 1s; 
  height: 50px;
  width: 50px;
}

div#button2.fade {
  opacity: 1;
}

div#button3 {
  opacity: 0;
  transition: opacity 1.5s; 
  height: 50px;
  width: 50px;
}

div#button3.fade {
  opacity: 1;
} 

.navbuttonmain {
	height: 40px;
	width: 40px;
	padding-bottom: 15px;
	float: left;
	opacity: .5;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}


.navbuttonimg {
	height: 40px;
	width: 40px;
	float: left;
	padding-bottom: 20px;
	opacity: .5;
	transition: opacity 0.5 ease-out;
	-moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
	-webkit-filter: invert(100%);
	filter: invert(100%);

}

.navbuttonimg:hover {
	opacity: 1;
}
/*END OF NAV BAR */

/*START OF CONTENT */

#wrapper {
	display: inline-flex;
	position: absolute;
	margin-left: 100px;
	margin-right: 100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#header {
	display: inline-flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-bottom: auto;
	font-size: 150px;
	font-weight: bold;
}

@media only screen and (max-width: 700px)
{
	#header
	{
		font-size:90px;
	}
}

#maintitle {
	display: block;
	margin: auto;
	height: 90%;
	width: auto;
	color: #ffffff;

}

#center {
	display: block;
	margin: auto;
	height: auto;
	width: auto;
	text-align: center;
	font-family: helvetica;
}

#backbutton {
	display:none;
	margin: 20px;
}

#year1album {
	display:none;
}

#year2album {
	display:none;
}

#year3album {
	display:none;
}

.testgallery {
	height: auto;
	width: auto;
}

#year1 {
	text-decoration:none;
}

#year2 {
	text-decoration: none;
}

#year3 {
	text-decoration: none;
}

.yearbox1 {
	width: 300px;
	height: 300px;
	border: none;
	float: left;
	margin: 20px;
	background-color: #ffffff;
	background-image: url("../3.art/thumbnails/2015.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 250px;

	
}

@media only screen and (max-width: 700px)
{
	.yearbox1
	{
		height: 120px;
		width: 120px;
	}
}

.yearbox2 {
	width: 300px;
	height: 300px;
	border: none;
	float: left;
	margin: 20px;
	background-color: #ffffff;
	background-image: url("../3.art/thumbnails/2016.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 250px;
	
}

@media only screen and (max-width: 700px)
{
	.yearbox2
	{
		height: 120px;
		width: 120px;
	}
}

.yearbox3 {
	width: 300px;
	height: 300px;
	border: none;
	float: left;
	margin: 20px;
	background-color: #ffffff;
	background-image: url("../3.art/thumbnails/2017.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 250px;
	
}

@media only screen and (max-width: 700px)
{
	.yearbox3
	{
		height: 120px;
		width: 120px;
	}
}

#yearnumber {
	display: block;
	position: relative;
	left: 0;
	right: 0;
	top: 0%;
	bottom: 0%;
	font-size: 100px;
	font-weight: bold;
	color: #FFFFFF;
	opacity: 0;
	transition: opacity 0.5 ease-out;
	-moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
	text-shadow:
	3px 3px 0 #000,
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	font-family: Impact;
}

#yearnumber:hover {
	opacity: 1;
}

@media only screen and (max-width: 700px)
{
	#yearnumber
	{
		font-size: 25px;
	}
}


#footer {
	display: inline-flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 80%;
	bottom: 0;
}

#footercontent {
	display: block;
	margin: auto;
	height: auto;
	width: auto;
	color: #000000;
	text-align: center;
	font-family: helvetica;
}

.sociallogo { 
	margin: auto;
	width: 50px; 
	height: 50px;
	opacity: 0.5;
	transition: opacity 0.2 ease-out;
	-moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
	-webkit-filter: invert(100%);
	filter: invert(100%);	
}

.sociallogo:hover {
	opacity: 1;
}


#facebook {
	margin: 2px;
	width: 50px;
	height: 50px;
    float: left;
	border-radius: 3px;
}

#instagram {
	margin: 2px;
	width: 50px;
	height: 50px;
    float: left;
	border-radius: 3px;
}

#twitter {
	margin: 2px;
	width: 50px;
	height: 50px;
    float: left;
	border-radius: 3px;
}

#youtube {
	margin: 2px;
	width: 50px;
	height: 50px;
    float: left;
	border-radius: 3px;
}


/* END OF CONTENT */